<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <!-- 导航栏商标 -->
      <a class="navbar-brand" href="#">
        <img src="https://img1.baidu.com/it/u=2666079184,1447929482&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=753" alt="logo" style="width:40px;">
      </a>
{#      <a class="navbar-brand" href="/example_question/example">通信题库与案例</a>#}
      <a class="navbar-brand" href="/tongxinkaoshiwang/单选题">单选题</a>
      <a class="navbar-brand" href="/tongxinkaoshiwang/多选题">多选题</a>
      <a class="navbar-brand" href="/tongxinkaoshiwang/填空题">填空题</a>
      <a class="navbar-brand" href="/tongxinkaoshiwang/判断题">判断题</a>
      <a class="navbar-brand" href="/tongxinkaoshiwang/问答题">问答题</a>
      <a class="navbar-brand" href="/tongxinkaoshiwang/案例">案例</a>


    <!-- 导航入口 -->
    <div>
      <ul class="navbar-nav">
        <!-- 条目 -->
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
    </div>

  </div>
</nav>
{#<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">#}
{#        <div class="container">#}
{#          <!-- <a class="navbar-brand" href="/bobjiang/">工作笔记</a> -->#}
{#          <a class="navbar-brand" href="/">BYINCD</a>#}
{#          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">#}
{#            目录#}
{#            <i class="fa fa-bars"></i>#}
{#          </button>#}
{#          <div class="collapse navbar-collapse" id="navbarResponsive">#}
{#            <ul class="navbar-nav ml-auto">#}
{#              <li class="nav-item">#}
{#                <a class="nav-link active" href="/bobjiang/">首页</a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="/choice_question/choice/">选择题</a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="/blank_question/blank/">填空题</a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="/essay_question/essay/">问答题</a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{##}
{#                <a class="nav-link" href="/example_question/example/">案例</a>#}
{##}
{#              </li>#}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{#      </nav>#}
{#<header class="masthead" style="background-image: url('/media/background/blogging-coffee-copywriting-34601-1024x683.jpg')">#}
{#        <div class="overlay"></div>#}
{#        <div class="container">#}
{#          <div class="row">#}
{#            <div class="col-lg-8 col-md-10 mx-auto">#}
{#              <div class="site-heading">#}
{#                <h1>Bob's Blog</h1>#}
{#                <!--<span class="subheading">写点工作笔记,偶尔记点心情见闻</span>-->#}
{#                <span class="subheading">4G, 5G, 通信, 题库, 案例等</span>#}
{#                <section id="search" align="center">#}
{#                  <hr  style="border:2px solid #F0E68C;"/>#}
{#                  <form class="form-inline my-2 my-lg-0" role="search" method="get" id="searchform" action="/bobjiang/search/">#}
{#                    <div name="search-elements" style="margin: 0 auto;">#}
{#                        <label>#}
{#                            <input class="form-control mr-sm-2" type="search" name="q" placeholder="请输入内容">#}
{#                        </label>#}
{#                        <button class="btn btn-info my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true">搜索</i></button>#}
{#                    </div>#}
{#                  </form>#}
{#                </section>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#</header>#}